fastapi==0.115.0
uvicorn[standard]==0.32.0
mlflow==2.22.1
tensorflow==2.18.0
pytest==8.3.3
pytest-asyncio==0.24.0
pycodestyle==2.12.1
black==24.8.0
locust==2.32.0
pydantic==2.9.2
python-multipart==0.0.12
requests==2.32.3